<section data-ng-controller="HomeController">
    <div class="row">
            <div class="col-xs-6 col-md-4 center">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
                </div>
            </div>
    </div>
    <div class="row">
        <div style="text-align:center">
            <button class="btn btn-default">Services</button>
        </div>
        <div style="text-align:center">
            <button class="btn btn-default">Facilities</button>
        </div>
    </div>
</div>
</section>